In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
file_path = '/content/drive/My Drive/greenDevil/hospital73_addrandomdate_v2.csv'

import pandas as pd
df = pd.read_csv(file_path)

In [ ]:
df['icd9code'][440:450]

440     511.9, J91.8
441     428.0, I50.9
442    785.51, R57.0
443           996.81
444     038.9, A41.9
445     790.4, R74.0
446     511.9, J91.8
447     428.0, I50.9
448     458.9, I95.9
449           996.81
Name: icd9code, dtype: object

In [ ]:
def clean_icd_code(code):
    if pd.isnull(code):
        return code  # Leave NaNs unchanged

    # comma 기준으로 진단 코드 분리
    parts = [p.strip() for p in str(code).split(',') if p.strip() != '']

    # If any part is an ICD-9 code (usually all digits), keep the first such code
    for part in parts:
        if part.replace('.', '').isdigit():
            return part  # ICD-9
    # ICD-9 진단 코드가 없다면, 첫 번째 ICD-10 진단 코드 반환
    return parts[0] if parts else None

# icd9code 칼럼에 함수 적용
df['icd9code'] = df['icd9code'].apply(clean_icd_code)

In [ ]:
df['icd9code'][410:420]

410     573.9
411     573.9
412     585.9
413    491.20
414     458.9
415     511.9
416     573.9
417    427.31
418     287.5
419    491.20
Name: icd9code, dtype: object

In [ ]:
# Save
df.to_csv('/content/drive/My Drive/greenDevil/hospital73_uniform_icdcode_v2.csv', index=False)